.submenu {
  width: 20rem;
  height: 100%;
  background-color: #111111;
  margin: auto;
  padding: 0 1%;
  box-shadow: -4px 0px 0px #c73030;
  display: grid;
  grid-template-areas:
    "title"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.3fr 0.1fr 0.1fr;
  text-align: center;
  position: fixed;
  z-index: 99;
  transition: all 400ms;
  right: -22rem;
}

.showSubmenu {
  right: 0;
}

.openSubmenu {
  width: 50px;
  height: 50px;
  background-color: #c73030;
  position: fixed;
  top: 110px;
  border: none;
  cursor: pointer;
  visibility: visible;
  border-radius: 8px 0 0 8px;
  right: 0;
}

.openCloseSubmenu {
  width: 100%;
}

.titleSubMenu {
  margin: 10px auto;
  grid-area: "title";
  letter-spacing: 1.5px;
}

.title1 {
  order: 1;
}

.title2 {
  order: 3;
}

.title3 {
  display: none;
}

.orderArea {
  width: 98%;
  display: grid;
  grid-area: "content";
  grid-template-areas: "order order order";
  gap: 0.5rem;
  text-align: center;
}

.orderButton {
  width: 100%;
  height: 40%;
  margin: 0 auto 0 auto;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
  cursor: pointer;
}

.content1 {
  order: 2;
}

.filterArea {
  display: grid;
  grid-area: "content";
  grid-template-areas:
    "subtitle"
    "subcontent";
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
  gap: 1rem;
  text-align: center;
}

.selectTitle {
  grid-area: "subtitle";
}

.filters {
  grid-area: "subcontent";
}

.subtitle1 {
  order: 1;
}

.subtitle2 {
  order: 3;
}

.subtitle3 {
  order: 5;
}

.subcontent1 {
  order: 2;
}

.subcontent2 {
  order: 4;
}

.subcontent3 {
  order: 6;
}

.selects {
  height: 70%;
}

.options {
  height: 100%;
  width: 70%;
  margin: 0 10px 0 0;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.applyButton {
  height: 100%;
  margin: auto;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
  cursor: pointer;
}

.content2 {
  order: 4;
}

.searchArea {
  width: 100%;
  height: 50px;
  background-color: #494949;
  padding: 0 5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  left: 0;
  top: 54px;
  gap: 1rem;
}

.searchInput {
  width: 30%;
  height: 47%;
  margin: auto 0;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.searchInput:focus {
  outline: 1px solid #c73030;
}

.clearButton {
  width: 10%;
  min-height: 50%;
  margin: auto 0;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
  text-align: center;
  cursor: pointer;
}
