body{
  width: 100%;
  height: 100%;
  background-color: #242424;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Century Gothic";
}

body a{
  text-decoration: none;
}

#root{
  width: 100%;
  height: 100%;
}

/* Menu */

.menu{
  width: 100%;
  height: 50px;
  background-color: #494949;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  position: fixed;
  line-height: 8px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 4px 0px #c73030;
  z-index: 2;
}

.menuLink{
  margin: 0 5px;
  padding: 20px 5px;
  color: white;
}

.menuLink:hover{  
  padding: 20px 5px;
  background-color: #141414;
  box-shadow: 0px 4px 0px #c73030;
}

/* Submenu */

.submenu{
  width: 100%;
  height: 80px;
  background-color: #494949;
  margin: auto auto 20px auto;
  padding: 0.5% 0.1%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 0px #c73030; 
}

.stickySubmenu {
  width: 96%;
  height: 80px;
  background-color: #494949;
  margin: auto auto 20px auto;
  padding: 0.5% 0.1%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 0px #c73030; 
  position: fixed;
  top: 54px;
  left: auto;
  z-index: 2;
}

.titleSubMenu{
  height: 20%;
  margin: auto;
}

.orderFilter{
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.orderItems{
  width: 20%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderButtons{
  width: 100%;
  height: 55%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.orderButton{
  height: 45%;
  margin: auto auto 0 auto;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.filterItems{
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.filterSelects{
  width: 100%;
  height: 55%;
  margin: auto;
  display: flex;
  justify-content: space-between;  
}

.filters{
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.selectTitle{
  height: 35%;
}

.selectOptions{
  height: 100%;
  margin: 0 10px 0 0;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.selectsButton{  
  height: 45%;
}

.applyButton{  
  height: 100%;
  margin: auto;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.clearButton{
  height: 100%;
  margin: auto auto 0 30px;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.search{
  width: 20%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchItems{
  width: 100%;
  height: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.searchInput{
  width: 70%;
  height: 40%;
  margin: auto auto 0 auto;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.searchInput:focus{
  outline: 1px solid #c73030;
}

.searchButton{
  height: 40%;
  width: 20%;
  margin: auto auto 0 auto;
  border: none;
  border-radius: 5px;
  font-family: "Century Gothic";
}



/* Home */

.main{
  width: 96%;
  margin: 70px auto; 
  color: white;
  display: flex;
  flex-direction: column;
}

.titlePage{
  margin: 20px 5px 30px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  position: relative;
}

.gamesList{
  width: 100%;
  height: max-content;  
  margin: auto auto 20px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;  
}

.card{
  width: 12%;
  margin: 6px auto;
  text-align: center;
  color: white;
}

.gameCover{  
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.gameCoverLink:hover{
  outline: solid 2px #c73030;
  border-radius: 10px;
}

.statusIcon{
  width: 3%;
  height: 3%;
  margin: 0.2% -0.5%;
  position: absolute;
}

.invisible{
  visibility: hidden;
}

/* Game */

.content{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.aboutGame{
  width: 65%;
  min-height: 600px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.gamesTitle{
  margin: 10px auto;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.gameBackgroundImage{
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.gameSummary{
  width: 100%;
  font-size: 20px;
  text-align: justify;
}

.gameSummary p {
  padding: 15px;
  line-height: 28px;
}

.infoGame{
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.previousPage{
  width: 85%;
  height: 50px;
  margin: auto;
}

.previousPage a{  
  color: #c73030;
  margin: 15px;
  font-size: 25px;
  line-height: 50px;
}

.infomItems{
  margin: 50px 10px;
}

.infoItem{
  margin: 10px;
  display: flex;
  font-size: 20px;
  padding: 10px;
}

.infoItemTitle{
  color: #c73030;
  font-weight: bold;
  margin: 0 20px;
}

.infoItemP{
  line-height: 26px;
}

.infoLinks{
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.infoLinks a{
  color: #c73030;
  margin: 0px 15px;
  font-size: 20px;
}

/* Register */

.registerGame{
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  color: white;
  font-family: "Century Gothic";
}

.registerGame input:focus, .registerGame textarea:focus{
  outline: solid 1px #c73030;
}
.registerLeftSide{
  height: 96%;
  width: 45%;
  margin: 1%;
}

.registerRightSide{
  height: 96%;
  width: 55%;
  margin: 1%;
  box-shadow: -3px 0px 0px 0px #c73030;
}

.registerItem{
  margin: 20px 15px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.labelTitle{
  margin: 0 15px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #c73030;
}

.textInputs{
  width: 340px;
  height: 20px;
  border-radius: 6px;
  border: none;  
  font-family: "Century Gothic";
}

.areaInput{
  width: 340px;
  height: 130px;
  border-radius: 6px;
  border: none;
  resize: none;  
  font-family: "Century Gothic";
}

.dataInput{  
  width: 180px;
  height: 20px;
  border-radius: 6px;
  border: none;
  font-family: "Century Gothic";
}

.itemImages{
  width: 70%;
  margin: auto 0 auto auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleImages{
  margin: 0 15px 0 0;
}

.images{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 0 25px 0;
}

.itemStatus{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.status{
  margin: auto;
}

.itemGenre, .itemPlatform{
  width: 100%;
  margin: auto;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.genre, .platform{
  margin: 0 0 20px 20px;
}

.submitInput{
  width: 80px;
  height: 30px;
  margin: auto 0 auto auto;
  border-radius: 6px;
  border: none;
  font-size: 25px;
  color: #c73030;
  background: none;
}





















